  $primary-text-color: #757575;
  $title-text-color: #212121;
  $white-title-text-color: #ffffff;
  $accent-color: #2196f3;
  $footer-text-color: rgba(255, 255, 255, 0.6);
  $portfolio-button: #f5f4fa;
  $background-color-footer: #2f303a;
  $border-color-portfolio: #eeeeee;
  $icon-color: #afb1b8;
  $background-icon-color: rgba(255, 255, 255, 0.1);
  $background-portfolio-img: rgba(33, 150, 243, 0.9);
  $background-color-button-form: #188CE8;
  $border-botton-color: rgba(255, 255, 255, 0.3);

  $main-font: "Roboto", sans-serif;